<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Comparar propiedades de lujo en Costa Rica.">
        <title>Formulario de Citas</title>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css">


    </head>
<html xmlns:th="http://www.thymeleaf.org"><head
   
<body>
    <h1>Agendar una Cita</h1>
    <form action="/cita/guardar" method="post">
        <label for="fecha">Fecha de la Cita:</label>
        <input type="datetime-local" id="fecha" name="fecha" required>
        <br>
        <label for="usuario">Usuario:</label>
        <select id="usuario" name="usuario.id" required>
            <option th:each="usuario : ${usuarios}" th:value="${usuario.idUsuario}" th:text="${usuario.nombre}"></option>
        </select>
        <br>
        <label for="propiedad">Propiedad:</label>
        <select id="propiedad" name="propiedad.id" required>
            <option th:each="propiedad : ${propiedades}" th:value="${propiedad.idPropiedad}" th:text="${propiedad.nombre}"></option>
        </select>
        <br>
        <button type="submit">Guardar</button>
    </form>
    <a href="/cita/listado">Volver al listado</a>
</body>
</html>


