<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <title>Your Favorite Properties</title>
    </head>
    <body>
        <header>
            <a href="index">
                    <img src="/imagenes/logo.png" alt="Paradise Luxury Homes Logo" class="logo">
            <nav>
                <ul>
                    <<li><a th:href="@{/index-en}">Home</a></li>
                    <li><a th:href="@{/luxuryproperties-en}">Luxury Properties</a></li>
                    <li><a th:href="@{/compare-en}">Compare Properties</a></li>
                    <li><a th:href="@{/map-en}">Interactive Map</a></li>
                    <li><a th:href="@{/reviews}">Reviews</a></li> <!-- Nuevo enlace añadido -->
                    <li><a th:href="@{/contact-en}">Contact</a></li>
                    <li><a th:href="@{/favorites-en}">Favorites</a></li>
                    <li class="language-selector"><a href="favorites">ES</a> | <a href="favorites-en">EN</a></li>
                </ul>
            </nav>
        </header>

        <div class="favorites-section">
            <h2>Your Favorite Properties</h2>
            <p>These are your saved favorite luxury properties.</p>
        </div>

        <footer>
            <p>© 2024 Paradise Luxury Homes - All rights reserved</p>
        </footer>
    </body>
</html>

