<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="Propiedades de lujo en Costa Rica.">
                    <title>Propiedades de Lujo - Paradise Luxury Homes</title>
                    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>

                    </head>
                    <body>
                        <!-- Encabezado -->
                        <header th:insert="fragments/header :: header"></header>

                        <!-- Filtro de propiedades de lujo -->
                        <section class="filter-section">
                            <h2>Buscar Propiedades de Lujo</h2>
                            <form>
                                <label for="location">Ubicación:</label>
                                <select id="location" name="serviciosPremium" class="form-select">
                                    <option th:each="servicio : ${serviciosPremium}" 
                                            th:value="${servicio.idServicioPremium}" 
                                            th:text="${servicio.servicioPremium}">Tipo de propiedad</option>
                                </select>
                                <label for="type">Tipo:</label>
                                <select id="type" name="tiposPropiedades" class="form-select">
                                    <option th:each="tipo : ${tiposPropiedades}" 
                                            th:value="${tipo.idTipoPropiedad}" 
                                            th:text="${tipo.tipoPropiedad}">Tipo de propiedad</option>
                                </select>
                                <button type="submit" class="btn">Buscar</button>
                            </form>
                        </section>

                        <!-- Listado de propiedades -->
                        <section class="property-list">
                            <div th:each="propiedad : ${propiedades}" class="property">
                                <img th:src="@{${propiedad.urlImgExterior1}}" alt="Casa de lujo 1">
                                    <h3>[[${propiedad.nombre}]]</h3>
                                    <p>[[${propiedad.descripcion}]]</p>
                                    <a th:href="@{'/propiedad/detalle/' + ${propiedad.idPropiedad}}" class="btn">Ver Detalles</a>
                            </div>
                        </section>

                        <!-- Pie de página -->
                        <footer>
                            <p>&copy; 2024 Paradise Luxury Homes - Todos los derechos reservados</p>
                        </footer>
                    </body>
                    </html>