<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>APP CITAS</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Bienvenido a la Aplicación de Citas</h1>
            <a href="listado.html" class="btn btn-primary mt-3">Ver Listado de Citas</a>
        </div>
    </body>
</html>

